.body {
  margin: none;
}
.content {
  width: 375px;
  height: auto;
  margin: 0 auto;
}
@mixin font-style {
  font-family: ten-mincho-text, serif;
  font-style: normal;
  font-weight: 400;
}
h1 {
  font-size: 24px;
  @include font-style;
}
h2 {
  font-size: 18px;
  @include font-style;
  color: #fff;
  margin: 0;
  padding: 60px 0 10px 25px;
}

p {
  font-size: 13px;
  @include font-style;
}
section {
  width: 375px;
  height: 810px;
  background-image: url(image/klemen-vrankar-lcT_p8kLCsc-unsplash.jpg);
  background-size: cover;
  background-position: 20%;
  color: #fff;
  position: relative;
  & header {
    display: flex;
    justify-content: space-around;
    height: 60px;
    line-height: 30px;
    & .section_circle {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: #fff;
      margin-top: 10px;
    }
    & .section_bar {
      display: flex;

      input[type="checkbox"] {
        position: absolute;
        top: -20vh;
      }
      .open {
        position: absolute;
      }
      & ul {
        font-size: 16px;
        font-family: ten-mincho-text, serif;
        font-style: normal;
        font-weight: 400;
        & span {
          display: block;
          flex-flow: column;
          width: 20px;
          height: 2px;
          margin-bottom: 5px;
          background-color: #fff;
          &:nth-child(3) {
            margin-bottom: none;
          }
          &:nth-child(1) {
            margin-top: 6px;
          }
        }
      }
      & aside {
        position: absolute;
        top: -250px;
        left: 0;
        height: 250px;
        transition: all 0.4s;
        & ul {
          list-style-type: none;
          width: 375px;
          & a {
            color: #fff;
            text-decoration: none;
            cursor: pointe;
          }
          & li {
            width: 300px;
            border-bottom: 1px solid #fff;
          }
        }
      }
      input[type="checkbox"]:checked ~ aside {
        top: 50px;
        left: 0;
        z-index: 20;
        transition: all 0.4s;
      }
      input[type="checkbox"]:checked ~ .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #34485e;
        transition: all 0.4s;
        z-index: 10;
        opacity: 0.8;
      }
    }
  }
  & h1 {
    margin: -15px 20px;
  }
  & .block_start {
    width: 15px;
    height: 200px;
    border-right: 2px solid #fff;
    transform: translateY(250%);
    .start {
      writing-mode: vertical-rl;
      padding-left: 5px;
      font-size: 16px;
    }
  }
}

.about {
  height: 813px;
  background-color: #35393e;
  & .text {
    margin: 0 23px;
    color: #fff;
  }
  & .block_loop {
    display: flex;
    gap: 30px;
    width: inherit;
    justify-content: space-around;
    height: 360px;
    margin-top: 90px;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding: 0 30px;
    overflow: hidden;
    .loopSliderWrap_up {
      top: 0;
      left: 0;
      width: 100px;
      overflow: hidden;
      position: absolute;
    }
    & .loopSlider_up {
      width: 100px;
      height: 360px;
      position: relative;
      overflow: hidden;
      & ul {
        margin: 0;
        padding: 0;
        width: 100px;
        overflow: hidden;
        & li {
          width: 100px;
          height: 250px;
          overflow: hidden;
          & img {
            width: 200%;
            height: 200px;
          }
        }
      }
    }
    .loopSliderWrap_down {
      bottom: 0;
      left: 0;
      width: 100px;
      overflow: hidden;
      position: absolute;
    }
    .loopSlider_down {
      width: 100px;
      height: 360px;
      position: relative;
      overflow: hidden;
      & ul {
        margin: 0;
        padding: 0;
        width: 100px;
        overflow: hidden;
        & li {
          width: 100px;
          height: 250px;
          overflow: hidden;
          & img {
            width: 200%;
            height: 200px;
          }
        }
      }
    }

    & .block_text {
      width: 50px;
      height: 360px;
      writing-mode: vertical-rl;
      color: #fff;
      padding: 40px 0;
    }
  }
}
main {
  background-color: #4b6251;
  color: #fff;
}
.main_weather {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  & .main_left {
    width: 187px;
    text-align: center;
    border-right: 1px solid #707070;
  }

  & .main_right {
    width: 187px;
    text-align: center;
    vertical-align: center;

    & .main_random {
      font-size: 24px;
    }
  }
 
}

.block_tour {
  margin: 0;
  padding: 30px 20px 10px 25px;
  & .title {
    font-size: 18px;
  }
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    @include font-style;
  }
  & figure {
    width: 140px;
    margin: 0 auto;
    padding: 60px 25px 100px 25px;
    img {
      width: 100%;
    }
  }
 & .eyecatch_1 {
  transform: translateX(-25px);
    width: 325px;
    height: auto;
    & img {
      width: 100%;
    }
  }
  & .eyecatch_2 {
    transform: translateX(-25px);
      width: 325px;
      height: auto;
      & img {
        width: 100%;
      }
    }

}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(4, 140px);
  gap: 30px;
  padding: 60px 0;
  background-color: #e9e4e4;
  & figure {
    width: 140px;
    height: 140px;
    & img {
      width: 100%;
      height: 140px;
    }
  }
}

.contact {
  margin: 0;
  padding: 30px 20px 10px 25px;
  background-color: #34485e;
  color: #fff;
  & .title {
    font-size: 18px;
    margin: 0 0 5px 0;
  }
  & .text {
    margin-bottom: 60px;
  }
  & .block_contact {
    width: 320px;
    margin: 30px 0 5px 0;
    border-bottom: 1px solid #707070;
  }
  & a {
    text-decoration: none;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }
}

footer {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-right: 25px;
  & figure {
    width: 32px;
    & img {
      width: 100%;
      height: 32px;
    }
  }
}
.figcaption {
  display: flex;
  justify-content: space-around;
  width: inherit;
  height: auto;
  margin-right: 25px;
}
figcaption {
  font-size: 8px;
  & a {
    color: #fff;
    text-decoration: none;
  }
}
